.newArivel-wraper{

padding-bottom: 100px;
// .newArivel-container{
//     display: flex;
//     align-items: center;
//     justify-content: center;

// }

.best-Seller-nav{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-bottom: 20px;
    
}
.h_line{
    border-bottom: 1px solid rgba(80, 80, 78, 0.384);
    width: 300px;
    flex-grow: 1;
    
}

.tabs-wraper{
    margin: 0 auto;
}


.product-card-container{
    display: flex;
    gap: 25px;

}


}