

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

$font-family-main:'Roboto', sans-serif;
$font-size-main: 12px;



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    

}

a {
	color: white;
	text-decoration: none;

}




